<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Geolocation</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-label>Advanced Geolocation Plugin</ion-label>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Latitud: {{latitud}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Longitud: {{longitud}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-content>
  <ion-label>Native Geolocation Plugin</ion-label>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Latitud: {{latitud2}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Longitud: {{longitud2}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
